<!--父模板-->
{% extends "learning_logs/base.html" %}

<!--父模板占位块的实现-->
{% block header %}
    <!--显示主题，并超链接到显示主题所有条目的网页-->
    <h2>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </h2>
    <h3>您确定要删除该条目吗？</h3>
{% endblock header %}

{% block content %}

    <!--显示条目-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{ entry.date_added|date:"Y年 M d日, H:i" }}
            </h4>
        </div>
        <div class="panel-body">
            <h3>
                {{ entry.text|linebreaks }}
            </h3>
        </div>
    </div>

    <h3>
        <!--确认删除-->
        <a href="{% url 'learning_logs:delete_entry_yes' entry.id%}">确定</a>- - - - - - - - - - - - - - - - - - - - - - - - -
        <!--不删除-->
        <a href="{% url 'learning_logs:topic' topic.id %}">取消</a>
    </h3>

{% endblock content %}