<!--父模板-->
{% extends "learning_logs/base.html" %}

<!--父模板占位块的实现-->
{% block header %}
    <h2>您确定要删除该主题吗？</h2>
{% endblock header %}

{% block content %}

    <!--显示条目-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{ topic.date_added|date:"Y年 M d日, H:i" }}
            </h4>
        </div>
        <div class="panel-body">
            <h3>
                {{ topic }}
            </h3>
        </div>
    </div>
    <h3>
        <!--确认删除-->
        <a href="{% url 'learning_logs:delete_topic_yes' topic.id%}">确定</a>- - - - - - - - - - - - - - - - - - - - - - - - -
        <!--不删除-->
        <a href="{% url 'learning_logs:topics' %}">取消</a>
    </h3>

{% endblock content %}