<!--父模板-->
{% extends "learning_logs/base.html" %}

{% load bootstrap3 %}

<!--父模板占位块的实现-->
{% block header %}
    <h2>
        <!--显示主题，并超链接到显示主题所有条目的网页-->
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </h2>
    <h3>
        编辑条目：
    </h3>
{% endblock header %}


{% block content %}

    <!--显示表单-->
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">保存更改</button>
        {% endbuttons %}
    </form>

{% endblock content %}