<!--父模板-->
{% extends "learning_logs/base.html" %}

<!--父模板占位块的实现-->
{% block content %}

    <!--表单填写不合规-->
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <!--填写密码的表单-->
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit">log in</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
{% endblock content %}